/*============================*/
/*DASHBOARD ELEMENTS*/
/*============================*/
.vcard-img{position: relative; display: inline-block; width: 54px; height: 54px; background-color: #fff; border-radius: 50%;}
.vcard-img img{border-radius: 50%; width: 100%; height: 100%; object-fit: cover;}
.vcard-img .notification{
	position: absolute; top: 0; right: 0;
	display: block; width: 16px; height: 16px; border-radius: 50%; line-height: 16px; text-align: center; background-color: #fc0019; color: #fff; font-size: 12px;}
.vcard-content{line-height: 1;font-size: 87%; margin-top: 8px;}
.vcard-content .vcard-name{font-weight: bold;}
.vcard-content .vcard-nice-name{font-size: 10px; margin-top: 2px;}
.vcard.lg .vcard-img{width: 94px; height: 94px;}
.vcard.lg .vcard-img .notification{margin-top: 6px; margin-right: 6px;}
.vcard.lg .vcard-content{font-size: 18px; margin-top: 10px;}
.vcard.lg .vcard-content .vcard-nice-name{font-size: 15px;}
@media(min-width:768px){
	.vcard.lg .vcard-content{font-size: 20px;}
	.vcard.lg .vcard-content .vcard-nice-name{font-size: 16px;}
}
.vcard.sm .vcard-img{width: 34px; height: 34px; }
.vcard.sm .vcard-img .notification{margin-top: -3px; margin-right: -3px;}
.vcard.sm .vcard-nice-name{font-size: 9.5px; margin-top: 2px;}
.vcard-socials{list-style: none; margin:18px 0 0; padding-left: 0; text-align: center;}
.vcard-socials li{display: inline-block;}
.vcard-socials li a{display: inline-block; width: 32px; height: 32px; background-position: center; background-size: 100%; background-repeat: no-repeat; text-indent: -9999px;}
.vcard-socials li.social-instagram a{background-image: url(../images/icon-instagram.png);}
/*============================*/
/*ASIDE*/
/*============================*/
.dashboard-aside{width: 285px;border-radius: 0 30px 30px 0; letter-spacing: 2px;}
.dashboard-aside-header{padding: 38px 38px 30px 5px;}
.dashboard-aside-body{padding: 0 38px 38px 70px;}
.dashboard-aside-body ul{list-style: none; padding-left: 0; margin-bottom: 0; line-height: 1.6;}
.dashboard-aside-body ul li.has-child ul{display: none;}
.dashboard-aside-body .menu > li{margin-bottom: 20px;}
.dashboard-aside-body .menu > li:last-child{margin-bottom: 0;}
.dashboard-aside-body .menu > li > a{font-weight: bold; text-transform: uppercase;}
.dashboard-aside-body .menu > li.active > a{text-decoration: underline;}
.dashboard-aside-body .menu > li.active >ul{display: block;}
.dashboard-aside-body .menu > li.active.active-l3 > a{text-decoration: none;}
.dashboard-aside-body .menu .level-next > li > a{text-transform: uppercase;}
.dashboard-aside-body .menu .level-next > li.active > a{text-decoration: underline;}
.dashboard-aside-body .menu .level-next > li.active > ul{display: block;}
.dashboard-aside-body .menu .level-last > li > a{display: block; padding-left: 34px;}
.dashboard-aside-body .menu .level-last > li.active > a{background: url(../images/icon_arrow.svg) no-repeat left center;}
@media(max-width:991px){
	
	.dashboard-aside{padding: 20px 20px 0; width: 256px;}
	.dashboard-aside-header{padding: 0;}
	.dashboard-aside-header .vcard{text-align: left;
		display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap;flex-wrap: wrap;
		
	}
	.dashboard-aside-header .vcard-content{width: calc(100% - 64px); padding-left: 15px;}
	.dashboard-aside-header .vcard-socials{display: none;}
	.dashboard-aside-header .vcard.lg .vcard-img{width: 64px; height: 64px;}
	.dashboard-aside-header .vcard.lg .vcard-img .notification{margin: 0;}
	.dashboard-aside-header .vcard.lg .vcard-content{margin-top: 12px;}
	.dashboard-aside-body{padding: 0; overflow: hidden;}
	.dashboard-aside-body > .menu{position: relative; min-height: 500px; padding-bottom: 50px; padding-top: 30px;}
	.dashboard-aside-body > .menu .menu-item-bottom{display: block; width: 80%;  position: absolute; bottom: 20px; left: 0; padding-top: 10px; border-top: 1px solid #fff;}
	.dashboard-aside-body > .menu .menu-item-bottom>a{font-weight: normal;}
	.dashboard-aside-footer{text-align: center; height: 20px;}
	.dashboard-aside-footer .btn-collapse{position: relative; top: -14px;}
}
@media(min-width:992px){
	.dashboard-aside-body{display: block;}
}

/*LAYOUT*/
.site-main{position: relative;}
.page-heading h2 small{font-size: 12px; display: inline-block; line-height: 1; vertical-align: top; margin-top: 6px;}
@media(min-width:768px){
	.content-entry{width: 666px; margin: 0 auto;}
	.content-entry .col-only{width: 475px; margin: 0 auto;}
	.content-entry .col-only.offset{width: 388px; margin: 0 auto;}
	.col-only .btn-arrow{max-width: 288px;}
}
@media(min-width:992px){
	.site-main{min-height: 928px;}
	.content-entry{margin-left: 275px;}
	.dashboard-aside{position: absolute; left: 0; top: 0; height: 100%;}
	
}
@media(min-width:1200px){
	.content-entry{margin-left: 300px;}
}
@media(min-width:1360px){
	.content-entry{margin-left: auto;}
}

@media(max-width:991px){
	.page-heading,
	.site-header .navbar-toggle{display: none !important;}
	.site-main{margin-top: 0 !important;}
}

.site-footer .menu-top a{font-size: 18px;}
.site-footer .menu-bottom a{font-size: 12px;}
@media(min-width:768px){
	.site-footer .menu-top a{font-size: 20px;}
	.site-footer .menu-bottom a{font-size: 13px;}
}
/*PAGES*/
.slider-pricing .slider-pricing-item{width: 286px; max-width: 100%;}
.slider-pricing .slider-pricing-item .panel-cta{width: 286px; max-width: 100%; margin: 0 auto;}
@media(min-width:992px){
	.slider-pricing .slider-pricing-item{margin-bottom: 60px;}
}

.campaign-item{line-height: 1.2;}
.campaign-item img{margin: 8px 0;}
.campaign-item .sep{margin-left: 5px; margin-right: 3px;}

.inbox-item{display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap;flex-wrap: wrap;-webkit-box-align: center;-ms-flex-align: center; align-items: center; padding-top: 4px; padding-bottom: 4px; cursor: pointer;}
.inbox-item .vcard{padding-right: 10px;}
.inbox-item .vcard.sm .vcard-img .notification{color: #ff0000; background-color: transparent; font-weight: bold; font-size: 12px; right: auto; left: 0; margin-right: 0; margin-left: -8px;}
.inbox-item .meta-date{padding-right: 20px;}
.inbox-item .excerpt{width: calc(100% - 130px);}
.inbox-item .excerpt .meta-name{color: #b2b2b2;}

@media(max-width:767px){
	.inbox-item .excerpt{width: 100%;}
}

.btn-rate{cursor: pointer;}

.number-only .text-number{position: relative; bottom: -1px;}

.text-width-number{line-height: 1.1;}
.text-width-number .h4{letter-spacing: 0.5px;}
.text-width-number .text{width: calc(100% - 72px); letter-spacing: 0.5px;}

.vcard-width-text .vcard{padding-right: 20px; width: 90px; text-align: center;}
.vcard-width-text .text{width: calc(100% - 90px);}
.vcard-width-text .list-action{list-style: none; padding-left: 0; margin-bottom: 0; margin-top: 8px;}
.vcard-width-text .list-action li{display: inline-block;}
.vcard-width-text .list-action li + li{margin-left: 30px;}
.vcard-width-text .list-action li a{display: block; border-radius: 3px; border: 1px solid #797a7a; width: 22px; height: 22px; background-position: center; background-repeat: no-repeat; background-size: 100%;}
.vcard-width-text .list-action li a.check{background-image: url(../images/icon-check.svg);}
.vcard-width-text .list-action li a.email{background-image: url(../images/icon-email.svg);}
.vcard-width-text .list-action li a.delete{background-image: url(../images/icon-delete.svg);}

.vcard-width-text.full-info .vcard{width: 106px; text-align: center;}
.vcard-width-text.full-info .text{width: calc(100% - 106px);}

.meta-like-comment{font-size: 12px;}
.meta-like-comment .sep{margin-left: 5px; margin-right: 3px;}
.meta-like-comment img{margin-top: -1px;}


.panel-message button{border: 0; padding: 0; background-color: transparent;}
.panel-message .btn-message-text{font-size: 17px;}
.panel-message .btn-message-icon{font-size: 30px; line-height: 1;}
.panel-message .message-author{margin-bottom: 10px;}
.panel-message .message-author .vcard-content{display: inline-block; margin-top: 0; margin-left: 6px; vertical-align: middle; font-size: inherit;}
.panel-message .message-author .btn-message-send{float: right; margin-top: 5px;}
.panel-message .message-content{margin-bottom: 10px; min-height: 170px;}
.panel-message .message-input-group {position: relative; padding-left: 38px;}
.panel-message .message-input-group .btn-message-camera{position: absolute; left: 0; top: 5px;}
.panel-message .message-input-group .input-group-styled .form-control{padding-right: 95px;}
.panel-message .message-input-group .input-group-styled .input-group-addon-styled{width: 85px; padding-top: 6px;}

.panel-message.lg .message-content{min-height: 70px;}
.panel-message-overlap{position: relative;}
.panel-message-overlap .panel-message{display: none;position: absolute; left: 0; top: 0; right: 0; bottom: 0; z-index: 9; background-color: #fff; border-radius: 0 0 28px 28px; border-top: 1px solid #dadada;}
.panel-message-overlap .message-input-group-holder{position: absolute; left: 0; right: 0; bottom: 0; padding: 10px; z-index: 9;}
.panel-message-overlap .panel-message .message-content{max-height: 245px; overflow-y: auto;}
@media(min-width:768px){
	.panel-message .btn-message-text{font-size: 18px;}
	.panel-message .btn-message-icon{font-size: 32px; line-height: 1;}
	.panel-message.lg .message-input-group{margin-left: 140px;}
}

.apply-box .apply-content{position: relative; min-height: 447px;}
.apply-box .apply-content .apply-message{display: none; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-color: #fff; z-index: 9;}
.apply-box .apply-content .apply-message .h1{letter-spacing: 2px; margin-bottom: 35px;}
.apply-box .apply-content .apply-message-inner{height: 100%;}
@media(min-width:768px){
	.apply-box .apply-content .apply-message .h1{font-size: 50px;}
}
